!!! 5
%head
  %meta{:charset => "utf-8"}
  %title Weather Logger
  %link{:rel => "stylesheet", :href => "/assets/application.css"}
  %script{:src => "http://js.pusher.com/1.12/pusher.min.js"}
  %script{:src => "/assets/application.js"}
  = yield_content :custom_head
%body= yield
